{% extends 'base.html.twig' %}
{% block title %}{{parent()}}Accueil{% endblock %}
{% block body %}
 <h1 class="text-center text-primary mt-4 pt-4 display-1 fw-bold"> Informatek : la boutique N°1 pour acheter son téléphone et ses accessoires ! </h1>
{% endblock %}